
    
    <head>
        <title>JpSprouse</title>
  
   <style>
       body
       {
             background-color:gray;
             line-height: 20px;
             font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
       }

       .container {
           background-color:#666666;
           margin-top:50px;
           margin-bottom:30px;
           margin-left:30px;
           margin-right:30px;
           width:100%;
           padding:10px; 
           box-shadow:2px 1px 3px 3px inset;
       }
      
    </style>
    </head>
    <body>
        <h2><font color=black>John-Paul Sprouse</h2>
        
       
        <font color=black>
           
        <div class="container" >
           <p>I have a Bachelors of Fine Arts in Media Arts and Animation. I am currently
           pursuing a Bachelors of Science in Software Development.</p>
        </div>
               
        <div class="container" >
           <p>I worked for Papa John's Pizza for nearly twenty years.  My final position
           was as a TGM, responsible for the training of all store level management in an 
           9 location region. Having had my fill of food service, I am seeking 
           an education and career in a field much more attuned to my proclivities; software
           development.</p>
        </div>
               
        <div class="container" >
           <center> <a href="/favored_spot.html">Favorite Spots</a></center>
        </div>
        
   