<form action="/create" method="POST">
  Author: <input type="text" name="link[linkAuthor]"><br/>
  Link: <input type="text" name="link[linkAddress]"><br/>

  <input type="submit">
</form>

<p><a href="/">Home</a></p>
