<form action="/create" method="POST">
  Author: <input type="text" name="link[author]"><br/>
  Link: <input type="text" name="link[link]"><br/>
  Comment: <input type="text" name="link[comment]"><br/>
  <input type="submit">
</form>

<p><a href="/">Home</a></p>
