<ul>
<% @links.each do |link| %>
 <li>
   <p><a href="<%= link.link %>"><%= link.link %></a> from <%= link.author %></p>
   <p><%= link.comment %></p> 
 </li>
<% end %>
</ul>

<p><a href="/create">Add Link</a></p>
